@import "variables.scss";

body{
	background-color: $backgroundColor;
	margin-bottom: 320px!important;
}

header{
	background-color: $fontColor;
	text-align: center;
	padding: 10px 0;
	div{
		color: lighten($fontColor, 70);
		font-size: 2em;
		span{
			color: $secondaryColor;
		}
	}
}

.content{
	background-color: #fff;
	padding: 5px;
	margin: 20px 0;
	border: 1px solid darken($backgroundColor, 20);
	border-top: none;
}

.menu{
	border-bottom: 1px solid $secondaryColor;
    background: lighten($secondaryColor, 30);
	margin: 0;
}

.presentation{
	text-align: center;
	a button{
		border: 1px solid $secondaryColor;
		color: $secondaryColor;
		background: lighten($secondaryColor, 55);
		transition: 0.2s;
		&:hover{
			background-color: $secondaryColor;
			color: #ffffff;
		}
	}
}
.page_header {
	h1{
    	text-align: left !important;
	}
	margin-bottom: 20px;
}

.content{
    background-color: #fff;
    padding: 5px;
    margin: 20px 0;
    border: 1px solid darken($backgroundColor, 20);
    border-top: none;
}

footer{
	background-color: $fontColor;
    color: lighten($secondaryColor, 55);
	padding: 10px 0;
	border-top: 3px solid $secondaryColor;
}

form{
	.button{
		text-align: center;
	}
	input, select, textarea{
		width: 100%;
        padding: 5px 10px;
        margin: 8px 0;
        box-sizing: border-box;
	}
	.message_droite{
		text-align: right;
	}
}

textarea{
	resize: none;
}

.column_4 h2{
	margin: 5px 0;
}

.list {
	margin: 0 0 20px 0;
	li{
		list-style: none;
		border-bottom: 1px solid black;
		padding: 10px;
	}
}

.detail {
	float: right;
}

@media screen and (max-width: 70em) {
	.menu ul{
		margin: 0 auto !important;
	}
}
