@import "variables.scss";

body{
	background-color: $backgroundColor;
	margin-bottom: 320px!important;
}

header{
	background-color: $fontColor;
	text-align: center;
	padding: 10px 0;
	div{
		color: lighten($fontColor, 70);
		font-size: 2em;
		span{
			color: $secondaryColor;
		}
	}
}

.content{
	background-color: #fff;
	padding: 5px;
	margin-bottom: 20px;
	border: 1px solid darken($backgroundColor, 20);
}

.menu{
	border-bottom: 1px solid $secondaryColor;
    background: lighten($secondaryColor, 30);
	margin: 0;
}

.lightblue_button{
	border: 1px solid $secondaryColor;
	color: $secondaryColor;
	background: lighten($secondaryColor, 55);
	transition: 0.2s;
	&:hover{
		background-color: $secondaryColor;
		color: #ffffff;
	}
}

.presentation{
	text-align: center;
	margin-bottom: 30px;
	form{
		margin-top: 10px;
	}
}
.page_header {
	margin-bottom: 20px;
	.buttons_event{
		text-align: center;
		margin-top: 20px;
	}
}

.content{
    background-color: #fff;
    padding: 5px;
    margin: 20px 0;
    border: 1px solid darken($backgroundColor, 20);
    border-top: none;
}

footer{
	background-color: $fontColor;
    color: lighten($secondaryColor, 55);
	padding: 10px 0;
	border-top: 3px solid $secondaryColor;
	a{
		color: lighten($secondaryColor, 30);
	}

}

.search{
	border-bottom: 1px solid $borderSearchForm;
	margin-bottom: 50px;
	padding-bottom: 8px;
}

form{
	.button{
		text-align: center;
	}
	input, select, textarea{
		width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
		font-size: 1em;
	}
	.message_droite{
		text-align: right;
	}
}

textarea{
	resize: none;
}

.column_4 h2{
	margin: 5px 0;
}

.list {
	margin: 0 0 20px 0;
	.buttons_list{
		text-align: center;
	}
	li, .ligne{
		list-style: none;
		border-bottom: 1px solid black;
		padding: 10px;
	}
}

.detail {
	float: right;
}

.heure{
	width: 45%;
}

section section {
	padding: 15px;
}

.list-without-style{
	li{
		padding: 10px;
	}
}

a.blue-btn, a.lightblue_button{
	font-family: "Open Sans Condensed";
	font-size: 1.2em;
	padding: 5px 12px;
	border-radius: 3px;
	text-decoration: none;
	margin: 10px 2px;
	text-align: center;
}


.page_header .buttons_event, .part_link{
	a{
		display: block;
		padding: 10px;
	}
}


.list .buttons_list{
	margin: 25px 0;
}

.list_epreuve{
	margin-bottom: 20px;
}

.export{
	margin-top: 25px;
	a{
		display: block;
		padding: 10px;
	}
	@media screen and(min-width: 70em){
		float: right;
		a{
			display: inline-block;
		}
	}
}

.paiement{
	@extend .export;
	float: left;
}

#fichier{
	margin-bottom: 15px;
}


@media screen and (max-width: 70em) {
	.menu ul{
		margin: 0 auto !important;
	}
}

@media screen and(min-width: 70em){

	form{
		input, select, textarea{
			padding: 5px 10px;
		}
	}

	.list{
		.buttons_list{
			text-align: right;
		}
		h3{
			margin-top: 0!important;
		}
	}

	.page_header h1{
		text-align: left!important;
	}

	.page_header .buttons_event{
		margin: 0;
		text-align: right;
		a{
			display: inline-block;
			margin: 0 5px;
		}
	}

	.part_link a {
		display: inline-block;
	}

}
