@import "variables.scss";


a.blue-btn, a.lightblue_button{
	font-family: "Open Sans Condensed";
	font-size: 1.2em;
	padding: 5px 12px;
	border-radius: 3px;
	text-decoration: none;
	margin: 10px 2px;
	text-align: center;
}

body{
	background-color: $backgroundColor;
	margin-bottom: 320px!important;
}

.column_4 h2{
	margin: 5px 0;
}

.content{
    background-color: #fff;
    padding: 5px;
    margin: 20px 0;
    border: 1px solid darken($backgroundColor, 20);
    border-top: none;
}

.detail {
	float: right;
}

.export{
	margin-top: 25px;
	a{
		display: block;
		padding: 10px;
	}
	@media screen and(min-width: 70em){
		float: right;
		a{
			display: inline-block;
		}
	}
}

#fichier{
	margin-bottom: 15px;
}

footer{
	background-color: $fontColor;
    color: lighten($secondaryColor, 55);
	padding: 10px 0;
	border-top: 3px solid $secondaryColor;
	a{
		color: lighten($secondaryColor, 30);
	}

}

form{
	.button{
		text-align: center;
	}
	input, select, textarea{
		width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
		font-size: 1em;
	}
	.message_droite{
		text-align: right;
	}

	@media screen and (min-width: 70em){
		input, select, textarea{
			padding: 5px 10px;
		}
	}
}

header{
	background-color: $fontColor;
	text-align: center;
	padding: 10px 0;
	div{
		color: lighten($fontColor, 70);
		font-size: 2em;
		span{
			color: $secondaryColor;
		}
	}
}

.heure{
	width: 45%;
}

.lightblue_button{
	border: 1px solid $secondaryColor;
	color: $secondaryColor;
	background: lighten($secondaryColor, 55);
	transition: 0.2s;
	&:hover{
		background-color: $secondaryColor;
		color: #ffffff;
	}
}

.list {
	margin: 0 0 20px 0;
	.buttons_list{
		text-align: center;
	}
	li, .ligne{
		list-style: none;
		border-bottom: 1px solid black;
		padding: 10px;
	}

	@media screen and (min-width: 70em){
		.buttons_list{
			text-align: right;
		}
		h3{
			margin-top: 0!important;
		}
	}
}

.list .buttons_list{
	margin: 25px 0;
}

.list_epreuve{
	margin-bottom: 20px;
}

.list-without-style{
	li{
		padding: 10px;
	}
}

.menu{
	border-bottom: 1px solid $secondaryColor;
  background: lighten($secondaryColor, 30);
	margin: 0;
	@media screen and (max-width: 70em) {
		ul{
			margin: 0 auto !important;
		}
	}
}

.page_header {
	margin-bottom: 20px;
	.buttons_event{
		text-align: center;
		margin-top: 20px;
		@media screen and(min-width: 70em){
			margin: 0;
			text-align: right;
			a{
				display: inline-block !important;
				margin: 0 5px;
			}
		}
	}
	@media screen and(min-width: 70em){
		h1{
			text-align: left!important;
		}
	}
}

.page_header .buttons_event, .part_link{
	a{
		display: block;
		padding: 10px;
	}
}

.paiement{
	@extend .export;
	float: none;
}

.presentation{
	text-align: center;
	margin-bottom: 30px;
	form{
		margin-top: 10px;
	}
}

.search{
	border-bottom: 1px solid $borderSearchForm;
	margin-bottom: 50px;
	padding-bottom: 8px;
}

section section {
	padding: 15px;
}

table{
	margin-top: 20px;
	text-align: center;
	tr, td, thead, th{
		border: 1px solid #000;
		padding: 5px 10px;
	}
	thead{
		background-color: $backgroundColor;
	}
}

textarea{
	resize: none;
}

@media screen and(min-width: 70em){

	.part_link a {
		display: inline-block;
	}

}
